
# IDE and various other developer tools
.vscode
.idea
.ipynb_checkpoints
*.swp


# Misc
!.gitkeep
*.orig
*.squashfs
*.retry

# node
node_modules/


# Packaging
build/


# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform/
.terraform.plan

# certs/keys/pems
*.crt
*.csr
*.key
*.pem
*.pfx
*.srl*
*.csr.cfg
*id_rsa*


# Big binaries
*.bz2
*.gz
*.jar
*.tar.gz
*.tgz
*.zip

